<!--Início Barra Lateral-->
<aside>
	<h2>Nome Usuário</h2>
	<figure>
		<figcaption><a>Alterar Foto</a></figcaption>
		<%= image_tag "Icones/foto-usuario.png" %>
		<!--<img src="../Imagens/Ícones/foto-usuario.png" alt="Nome Usuário" />-->
	</figure>
	<nav>
		<p>
			<%= image_tag "Icones/mensagens.png", :class=>"icone-menu" %>
			<!--<img src="../Imagens/Ícones/mensagens.png" class="icone-menu" />-->
			<a href="../Mensagens/Mensagens.html">  Mensagens (0)</a>
		</p>
		<p>
			<!--<img src="../Imagens/Ícones/arquivo-hospedagem.png"  class="icone-menu" />-->
			<%= image_tag "Icones/arquivo-hospedagem.png", :class=>"icone-menu" %>
			<a href="../Cadastro-de-Hospedagem/index.html">Meus Imóveis</a>	
		</p>
		<p>
			<%= image_tag "Icones/usuario.png", :class=>"icone-menu" %>
			<!--<img src="../Imagens/Ícones/usuario.png" class="icone-menu" />-->
			<a>Minha Conta</a>
		</p>
		<p>
			<%= image_tag "Icones/sair.png", :class=>"icone-menu" %>
			<!--<img src="../Imagens/Ícones/sair.png" class="icone-menu" />-->
			<a>Sair</a>	
		</p>
	</nav>
</aside>
<section>
	
</section>
