<div class="conteudo-inicio">
				
				<!-- Início da caixa de Slides -->
				<div id="s3slider">
					<ul id="s3sliderContent">
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Belo Horizonte.jpg" %>
							<span>Belo Horizonte</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Brasília.jpg" %>
							<span>Brasília</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Cuiabá.jpg" %>
							<span>Cuiabá</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Curitiba.jpg" %>
							<span>Curitiba</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Fortaleza.jpg" %>
							<span>Fortaleza</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Manaus.jpg" %>
							<span>Manaus</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Natal.jpg" %>
							<span>Natal</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Porto Alegre.jpg" %>
							<span>Porto Alegre</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Recife.jpg" %>
							<span>Recife</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Rio de Janeiro.jpg" %>
							<span>Rio de Janeiro</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/Salvador.jpg" %>
							<span>Salvador</span>
						</li>
						<li class="s3sliderImage">
							<%= image_tag "Cidades-da-Copa/São Paulo.jpg" %>
							<span>São Paulo</span>
						</li>
						<div class="clear s3sliderImage"></div>
					</ul>
					
				</div>
				
				<!--Início Caixa de Login-->
		    	<div id="caixa-login">
		    		<h3>Login</h3>
		    		<form>
		    			<label><span>Email</span></label>
		    			<input type="email" autofocus="true" required="true" />
		    		
		    			<label><span>Senha</span></label>
		    			<input type="password" required="true" />
		    		
		    			<input class="botao botao-azul" type="submit" value="Entrar" />
		    		</form>
		    	</div>
		    	
		    	<!-- Início Opção Cadastrar Novo Usuário-->
		    	<div id="caixa-cadastrar">
		    		<label id="titulo-cadastrar">Não possui cadastro?</label>
				    <a class="botao botao-azul" href="../Cadastro-de-Proprietario/Proprietario.html">Inscreva-se</a>
					
		    	</div>