<!--Início Barra Lateral-->
<aside>
	<h2>Nome Usuário</h2>
	<figure>
		<figcaption><a>Alterar Foto</a></figcaption>
		<%= image_tag "Icones/foto-usuario.png" %>
	</figure>
	<nav>
		<p>
			<%= image_tag "Icones/mensagens.png", :class=>"icone-menu" %>
			<a href="../Mensagens/Mensagens.html">  Mensagens (0)</a>
		</p>
		<p>
			<%= image_tag "Icones/arquivo-hospedagem.png", :class=>"icone-menu" %>
			<%= link_to "Meus Imóveis", :controller => "imovels", :action => "index"%> 
		</p>
		<p>
			<%= image_tag "Icones/usuario.png", :class=>"icone-menu" %>
			<a>Minha Conta</a>
		</p>
		<p>
			<%= image_tag "Icones/sair.png", :class=>"icone-menu" %>
			<a>Sair</a>	
		</p>
	</nav>
</aside>
<section>

<article>
	
	<header><%= link_to 'Novo', new_imovel_path, :class => "botao botao-azul" %></header>
	<table class="tabela1">
	<thead>
		<th id="coluna-opcao">Opções</th>
		<th id="coluna-endereco">Endereco</th>
  	</thead>
  <tbody>
<% @imovels.each do |imovel| %>
  <tr>
  	
  	<td>
    	<%= link_to 'Exibir', imovel %>
        <%= link_to 'Editar', edit_imovel_path(imovel) %>
        <%= link_to 'Excluir', imovel, confirm: 'Are you sure?', method: :delete %>
    </td>

  	<td><%= imovel.endereco %></td>
    
  </tr>
<% end %>

</tbody>
</table>
</article>
</section>
