<h1>Listing potzs</h1>

<table>
  <tr>
    <th>Codigo cupom</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @potzs.each do |potz| %>
  <tr>
    <td><%= potz.codigo_cupom %></td>
    <td><%= potz.valor %></td>
    <td><%= link_to 'Show', potz %></td>
    <td><%= link_to 'Edit', edit_potz_path(potz) %></td>
    <td><%= link_to 'Destroy', potz, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Potz', new_potz_path %>
